.conteiner{
    background-color: #403E4F;
}

.contHeader svg{ 
    width: 80px;
    height: 40px;
    color: #009C9C;
}

.linkM{ 
    color: #009C9C;
    text-decoration: none;
}
.link{ 
    color: #ffff;
    text-decoration: none;
}
.link:hover{ 
    color: #bbbbbb;
    text-decoration: none;
}

.contHeader{
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}